<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="banner :: banner-style">
        <meta charset="UTF-8">
        <title>Image Hoster - Upload</title>
    </head>
    <body>
        <div th:replace="banner :: main_header"></div>
        <h1 id="head">Upload New Image</h1>
        <form id="form">
            <label for="img_title">Image Title:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="img_title" required /><br><br><br>

            <label for="img_description">Description:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="img_description" required /><br><br><br>

            <label for="img_tags">Tags:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="img_tags" required /><br><br>

            <input type="file" id="image" accept="image/*" required /><br><br>

            <input id="sub" type="submit" value="Upload" />
        </form>
    </body>
</html>