<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="banner_ls :: banner_ls-style">
        <meta charset="UTF-8">
        <title>Image Hoster - Login</title>
    </head>
    <body>
        <div th:replace="banner_ls :: main_header"></div>
        <h1 id="head">Login</h1>
        <form id="form">
            <label for="username">Username:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="username" required /><br><br>

            <label for="password">Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" id="password" required /><br><br>

            <input id="sub" onclick="displayUser()" type="submit" value="Login" />
        </form>
    </body>
    <script th:src="@{/js/display_loggeduser.js}"></script>
</html>