html {
    height: 100%;
    scroll-behavior: smooth;
    user-select: none;
}
body {
    background-color: #FFDEE9;
    background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
}
#title {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin-top: -8px;
    color: red;
    text-align: center;
}
.links {
    text-align: right;
    margin-top: -95px;
    margin-right: 100px;
    font-size: 30px;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
}
#login {
    color: #A52A2A;
    /*display: none;*/
}
#signup {
    color: #DAA520;
    /*display: none;*/
}
#home {
    color: #F08080;
}
hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}
.pill {
    height:0px;
    border-radius: 2px;
    color: teal;
    border: 2px solid currentColor;
    width: 20%;
    margin-top: 6px;
    margin-bottom: 40px;
}
.pill:before, .pill:after {
    content: '';
}
#head {
    margin-top: 110px;
    font-size: 60px;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
}
#form {
    text-align: center;
    margin-top: 50px;
}
label {
    font-size: 22px;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    color: darkred;
    word-spacing: 2px;
    letter-spacing: 2px;
}
input:focus {
    outline: none;
}
#sub {
    margin-top: 25px;
    font-weight: bold;
}
#sub:hover {
    color: blueviolet;
}
#img_title {
    width: 26%;
}
#img_description {
    width: 42%;
}
#img_tags {
    width: 25%;
}
#image {
    border: none;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-left: 130px;
    margin-top: 20px;
    font-size: 16px;
}
#show_name {
    font-family: 'Itim', cursive;
    margin-right: 5%;
    font-size: 30px;
    text-decoration: none;
    color: #6b0af2;
    display: none;
}
#show_name span {
    color: #eb5a07;
}
#show_logout {
    margin-right: 50%;
    font-size: 30px;
    font-family: 'Gochi Hand', cursive;
    color: #00a685;
    text-decoration: underline;
    display: none;
}
#show_imguploadbtn {
    margin-right: -20px;
    font-size: 30px;
    font-family: 'Gochi Hand', cursive;
    color: #0a5bf2;
    text-decoration: underline;
    display: none;
}