<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:fragment="banner_ls-style">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Permanent+Marker&display=swap" rel="stylesheet">
        <link th:href="@{/css/style_login_signup.css}" rel="stylesheet">
    </head>
    <body>
    <div th:fragment="main_header" th:remove="tag">
        <p id="title">Image Hoster</p>
        <div class="links">
            <a id="home" href="/">Home</a>
        </div>
        <hr class="pill">
    </div>
    </body>
</html>