<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:fragment="banner-style">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Courgette&family=Permanent+Marker&display=swap" rel="stylesheet">
        <link th:href="@{/css/style_banner.css}" rel="stylesheet">
    </head>
    <body>
        <div th:fragment="main_header" th:remove="tag">
            <p id="title">Image Hoster</p>
            <div class="links">
                <a id="show_name">Hi <span>Hritvik</span></a>
                <a id="show_imguploadbtn" href="/upload_update/upload">Upload Image</a>
                <a id="login" href="/login_signup/login">Login</a>&nbsp;&nbsp;
                <a id="signup" href="/login_signup/signup">SignUp</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="home" href="/">Home</a>
            </div>
            <hr class="pill">
        </div>
    </body>
</html>