<!Doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="banner :: banner-style">
        <meta charset="UTF-8">
        <title>Image Hoster</title>
    </head>
    <body onload="validateLogin()">
        <div th:replace="banner :: main_header"></div>
        <main>
            <!-- Iterating through each image and displaying the image, its title and the date on which it is posted-->
            <!-- Uncomment the following piece of code-->
            <post th:each="i : ${images}">
                <div>
                    <img th:src="'data:image/jpeg;base64,'+${i.imageFile}"/>
                </div>
                <h2 th:text="${i.title}"></h2>
                <i>Posted On: </i> <span th:text="${i.date}"></span>
            </post>
        </main>
    </body>
    <script th:inline="javascript">
        function validateLogin() {
            const logusr = /*[[${session.LoggedUser}]]*/ 'User_Name';
            if(logusr != null) {
                document.getElementById("show_name").style.display = "inline"
                document.getElementById("show_imguploadbtn").style.display = "inline"
                document.getElementById("show_logout").style.display = "inline"
                document.getElementById("login").style.display = "none"
                document.getElementById("signup").style.display = "none"
            }
        }
    </script>
</html>