<!Doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="header_index :: head"></div>
        <title>Image Hoster By Hritvik</title>
    </head>
    <body>
        <div th:replace="header_index :: header"></div>
        <main>
            <post th:each="i : ${images}">
                <div>
                    <img th:src="'data:image/jpeg;base64,'+${i.imageFile}"/>
                </div>
                <h2 th:text="${i.title}"></h2>
                <i>Posted On: </i> <span th:text="${i.date}"></span>
            </post>
        </main>
    </body>
    <script th:inline="javascript">
        function validateLogin() {
            const logusr = /*[[${session.LoggedUser}]]*/ 'User_Name';
            if(logusr != null) {
                document.getElementById("show_name").style.display = "inline"
                document.getElementById("show_imguploadbtn").style.display = "inline"
                document.getElementById("show_logout").style.display = "inline"
                document.getElementById("login").style.display = "none"
                document.getElementById("signup").style.display = "none"
            }
        }
    </script>
</html>